<!DOCTYPE html>
<html>

<head>
	<title>Smart BCE Hackathon</title>
	<meta name="Developer" content="Kumar Saurabh Raj">
	<link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/resources/fontAwesome/all.min.css">
	<style type="text/css">
		body {
			padding: 0 0;
			font-family: 'Raleway', sans-serif;
    		color: white;
    		background-image: linear-gradient(to bottom right, rgb(102,157,189), white);
    		background-repeat: no-repeat;
    		background-size: cover;
		}
		#outer{
			width: 100vw;
			height: 100vh;
		}
		#Error{
			position: absolute;
			z-index: -1;
			top: 25%;
			right: 50%;
			transform: translateX(50%);
			width: 90%;
			max-width: 1000px;
		}

		h1{
		    text-align: center;
		    font-size: 3.5em; 
		}

		@media screen and (max-width: 1150px){
		    h1{
		        font-size: 2em; 

		    }
		    li{
		    	font-size: 1em;
		    }
		}

	</style>
</head>

<body>
	<script src="/resources/jQuery.js"></script>

	<script type="text/javascript">		var navInactive = true;	</script>

    <% include navbar %>

    <div id="overlay"></div>

    <div id="outer">
    <div id="Error">
    	

    