<% include partials/errors %>

	<h1>Login Successful</h1>
	<hr>
	<ul>
	<li> Login credentials are valid.</li>
	<li> You will see your profiile and problem statements on this page once when the competition is live.</li>
	</ul>
</div>
</div>

<% include partials/footer %>

<% include partials/footer %>