<% include partials/errors %>
	<h1>Error Occured</h1>
	<hr>
	<ul>
	<li>Team Name "<strong><%= teamName %></strong>" is <strong>already Registered</strong> with another team. </li>
	<li>Two teams cannot have the same Team-Name or Email. </li>
	<li>Please make sure they are unique for successful registeration. </li>
	</ul>
</div>
</div>

<% include partials/footer %>