<% include partials/errors %>

	<h1>Login Unsuccessful</h1>
	<hr>
	<ul>
	<li> Login credentials are invalid.</li>
	<li> You will see your profiile and problem statements on this page once on being logged in with valid credentials when the competition is live.</li>
	</ul>
</div>
</div>

<% include partials/footer %>

<% include partials/footer %>